@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
/* Layout */
.main-layout {
  @apply m-auto  py-2 min-h-screen;
}
/* MySwiper */
.mySwiper {
  @apply w-full mt-4;
}
.banner-img {
  @apply w-full  rounded-lg;
}

/* Navbar */
.navbar {
  @apply grid grid-cols-2 bg-white px-5 py-2 shadow sticky top-0 z-20;
}
.navbar-items {
  @apply flex justify-end items-center;
}
.navbar-item {
  @apply ml-3 lg:w-10 lg:h-10;
}
.navbar-logo {
  @apply py-2;
}

/* Brand Homepage */
.brand-layout {
  @apply grid grid-cols-4 gap-2 md:gap-6 mt-4 md:mt-6;
}
.brand-layout-item {
  @apply py-3 px-3 w-full  text-center bg-white rounded-lg m-auto shadow;
}

/* Footer */
.footer {
  @apply grid grid-cols-5 gap-5  sticky bottom-0 mx-auto bg-white shadow-inner z-10;
}
.nav-items {
  @apply mx-auto py-4;
}
.nav-icons {
  @apply lg:w-8 lg:h-8;
}

.IFC {
  overflow: unset !important;
}
